PORT=3001
HOST=0.0.0.0
NODE_ENV=development
DATA_SOURCE=memory
APP_NAME=BuscaLibro API
DATABASE_URL=postgresql://postgres:[TU_PASSWORD]@db.[TU_PROJECT_REF].supabase.co:5432/postgres
DATABASE_SSL=true
